.logo {
    margin-top: 1%;
    width: 100px;
}

.center{

    font-family: poppins;
}
footer{
    background-color: pink;
}
#highlight{
    background-color: chocolate;
    font-size: x-large;
    color: aliceblue;
}
.white-text{
    color: black;
}